footer{
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 4rem;
    height: .75fr;
}

footer a{
    color: white;

 }

.links{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5rem 0rem;
}

nav{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.footerHeading{
    color: white;
    background-color: #333333;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    width: 50%;
    padding: 2rem;
    margin: 5rem auto;
}

.subscribeButton{
    background-color: black;
    color: red
}

.widthfifty{
    margin: 0 auto;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .links{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin: 0 auto;
    }

    .links nav{
        display: none;
    }

}
