html {
  color: #5f6366;
  font-size: 62.5%;
}
.homepageContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-content: flex-start;
}

.homeImages {
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px){
  .homeImages{
    height: 100%;;
  }
}

.homeImages img {
  width: 100%;
}

.leftHandSide {
  width: 60%;
  /* margin: auto 0; */
}

.rightHandSide {
  width: 40%;
  /* margin: auto 0; */
}

.linkToNormalise{
  color: black;
}

@media only screen and (max-width: 768px) {
  .homepageContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .leftHandSide {
    width: 100%;
    margin: auto 0;
  }

  .rightHandSide {
    width: 100%;
    margin: auto 0;
  }
}

.homepagebox {
  margin: 2rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background-color: white;
  height: 45rem;
  align-content: space-around;
}

.paragraph{
  text-align: center;
  height: 15rem;
  padding: 2rem 5rem;
  width: 60%;
  margin: 0 auto;
}

.blacken{
  color: black;
}

.vl {
  border-left: 1px solid black;
  height: 1fr;
  margin: 5rem auto;
}

.vlAbout{
    border-left: 1px solid black;
    height: 325px;
    margin: 5rem auto;
}

.redButton{
  border: 5px solid black;
  margin: 0 auto;
  width: 20rem;
  display: flex;
  justify-content: center;
  cursor: crosshair;
  color: black;
  align-content: flex-end;
}


.newsletterForm{
  display: flex;
  flex-direction: colum;
}

.blackOutlineButton{
  border: 3px solid black;
  margin: 5rem auto 0rem auto;
  padding: 1rem 2rem;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
  cursor: crosshair;
}

.coloredBox {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.violet {
  background-color: #EDCCE0;
  color: #4D453A;
}

.orange{
  background-color: coral;
  color: white;
}

.red{
  background-color: lightslategray;
  color: white;
}

.lime{
   background-color: limegreen;
   color: white;
}

.black{
  background-color: black;
  color: white;
}

.whiteBox{
  background-color: white;
  color: black;
  border: 2px solid black;
}

.green {
  background-color: #718279;
  color: white;
}

.yellow {
  background-color: #ece81a;
  color: #333333;
}

.blue {
  background-color: #418fde;
  color: white;
}

.white {
  padding: 4rem 0rem;
  margin: 0 auto;
  width: 80%;
}

#principles ul li {
  text-decoration: none;
}

.flexRoseAndMargaux {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutText{
  width: 40%;
}

.aboutMainText{
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm input {
  width: 100%;
}

.headingColours{
  color: black;
  background-color: orange;
  padding: 0rem 1rem;
}

.blackBackgroundAbout{
  margin: 2rem;
  border: 2px solid black;
}

.blackBackgroundAbout p{
  padding: 2rem 2rem;
  margin: 0 auto; 
}

.bottomHR{
  margin: 0 auto;
  width: 50%;
}

.removeBullets li{
  list-style-type: none;
}

.changeMouse{
  cursor: pointer;
}

.bottom{
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.submitButton{
  width: 50%;
  border: 2px solid black;
  color: white;
  background-color: red;
}

.table{
  width: 80%;
  margin: 0 auto;
}

td, th{
  border: 1px solid #333333;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd;
}
